<head>
<link rel="stylesheet" href="/styles.css">
</head>

<div class="container">
<h1>You are Logged In</h1>

<h2>Welcome to your dashboard, <%= currentUser.username %></h2>

<li><a href="/files"><button>View Files</button></a></li>

<li><a href="/logout"><button>Logout</button></a></li>
</div>